<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Cadastro Produto">
    <ion-content class="">
        <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="titulo" ng-model="titulo">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="preco" ng-model="preco">
            </label>
            <label class="item item-input">
              <textarea placeholder="descricao" ng-model="descicao"></textarea>
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="cadastrar(titulo, preco, descricao)">
          Cadastrar
        </button>
        <button class="button button-block button-stable" ng-click="cancelar()">
          Cancelar
        </button>
    </ion-content>
</ion-view>