<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Produtos">
    <ion-content class="">
        <div class="list card">

            <div class="item item-avatar">
                <img src="https://scontent.fplu1-1.fna.fbcdn.net/v/t1.0-9/13567473_1037407179681328_1170942378351640073_n.jpg?oh=edaf0372ff1dbe8ac3a472a25e76770c&oe=590AE78D" style="width: 80px;">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </div>

            <div class="item item-image">
                <img src="http://cdn-4.nikon-cdn.com/e/Q6JL24N_OuGlFb_aCgAYuU1F4ILs1DTor9QufkAHj5tDjS63eId-aNWY3UmALGPi-pdpqy2ULo69Rt37Jtr-RA4gRhLR7sYp/Views/1535_D3200_left.png">
            </div>

            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i> Start listening
            </a>

        </div>

    </ion-content>
</ion-view>